.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 336px;
    width: 80%;
    max-width: 500px;
}

.signup-form-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 64px;
    width: 100%;
}

.signup-form-field input {
    border: 1px solid #009718;
    border-radius: 16px;
    height: 32px;
    padding: 0px 16px;
}

.signup-submit-btn {
    margin-top: 32px;
    width: 100%;
}

.signup-submit-btn button {
    width: 100%;
    height: 48px;
    background-color: #FFFF;
    border: 1px solid #009718;
    border-radius: 16px;
    transition: all 0.3s ease-out;
    opacity: 0.9;
}

.signup-submit-btn button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-out;
    opacity: 1;
}
