@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base
{
    *
    {
        font-family: Inter, sans-serif;
    }

    body
    {
        background-color: rgba(0, 0, 0, 0.05);
    }
}